<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="GYM"
         connectionString="Server=localhost;Port=5432;Database=gymverksamhet;User ID=test;Password=123;"
         providerName="Npgsql" />
    <add name="grp3vt14"
         connectionString="Server=webblabb.miun.se;Port=5432;Database=grp3vt14;User ID=grp3vt14;Password=XEaE6AW5A;sslmode=require;"
         providerName="Npgsql" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>